<form action="">
    <div class="container">                    
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let shopping of shoppingCarts">
              <td>{{shopping.name}}</td>
              <td>{{shopping.price | currency}}</td>
              <td>{{shopping.quantity}}</td>
              <td><a class="navbar-toggler" data-toggle="tooltip" data-placement="right" title="Remove" (click)="remove(shopping.name)"  href="#">&#xD7;</a></td>
            </tr> 
            <tr>
              <td></td>
              <td></td>
              <td>Total</td>
              <td><span > {{total | currency}}</span></td>
            </tr>          
          </tbody>
        </table>
      </div>
</form>



